<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test on Xiamin" parallel="false" thread-count="1"
	configfailurepolicy="continue">
	<test name="create test - IE">
		<parameter name="browserFlagO" value="ie" />
		<parameter name="runningOnGrid" value="false" />
		<parameter name="hubHost" value="localhost" />
		<parameter name="hubPort" value="4458" />
		<groups>
			<run>
				<include name="IEWin32" />
			</run>
		</groups>
		<packages>
			<package name="com.testcases" />
		</packages>
	</test>
	<test name="create test - FF">
		<parameter name="browserFlagO" value="firefox" />
		<parameter name="runningOnGrid" value="false" />
		<parameter name="hubHost" value="localhost" />
		<parameter name="hubPort" value="4458" />
		<groups>
			<run>
				<include name="firefox" />
			</run>
		</groups>
		<packages>
			<package name="com.testcases" />
		</packages>
	</test>
	<test name="create test - ChromeWin32">
		<parameter name="browserFlagO" value="chrome" />
		<parameter name="runningOnGrid" value="false" />
		<parameter name="hubHost" value="localhost" />
		<parameter name="hubPort" value="4458" />
		<groups>
			<run>
				<include name="ChromeWin32" />
			</run>
		</groups>
		<packages>
			<package name="com.testcases" />
		</packages>
	</test>
	
</suite>